.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 220px;
      padding: 5px;
      zoom: 1.2;
      display: flex;
    }

    .project-name{
        color: black;
        font-size: larger;
        padding: 10px 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        visibility: hidden;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        color: black;
        font-size: larger;
        padding: 10px 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
      }
    }
  }
  